{{#partial "content"}}

    <h2>Teams List!</h2>

    {{#if teams}}
        {{#each teams}}
            <p><b>Team</b> {{ name }} ---- <a href="/teams/{{id}}">Team Details</a></p>
        {{/each}}
    {{else}}
        <p>No teams listed.</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}