{{#partial "content"}}

    <h2>Team List!</h2>

    {{#if teams}}
        {{#each team}}
            <p>Current Team:</p>
            <p>{{ teamName }} <a href="/jobs/{{id}}">Team Information</a></p>
        {{/each}}
    {{else}}
        <p>Sorry, team not found!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}