{{#partial "content"}}

    <h3>Team Confirmed</h3>

    Your team submission has been saved!
    <br><br>
    <a href="/teams/new">Add another team</a><br>
    <a href="/">See all teams</a>


{{/partial}}

{{> layout.hbs}}