{{#partial "content"}}
    <p>Team Info</p>
    <p>Team Name: {{team.teamName}}</p>
    <p>About: {{team.description}}</p>
    <p>Members: {{team.member}}</p>

    <br>
    <a href="/teams/{{team.id}}/update">Edit this team</a>
    <br>
    <a href="/teams/new">Add a new team</a>
    <br><br>
    <a href="/">Back</a>

{{/partial}}

{{>layout.hbs}}